.memory {
  width: 900px;
  height: 550px;
  background-color: black;
  position: fixed;
  top: calc(50% - 550px / 2);
  left: calc(50% - 900px / 2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.memory__card {
  background-color: rgb(225, 250, 0);
  width: 17%;
  height: 17%;
  cursor: pointer;
}
